Repository leosuncin/nest-api-example: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.{json,md,yml}": ["prettier --write"],
  "package.json": ["sort-package-json"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

ci: reduce the acceptable duplicate code threshold
  .jscpd.json
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

perf: reduce duplicate code in tests
  src/auth/auth.module.spec.ts
  src/auth/pipes/swap-password.pipe.spec.ts
  src/blog/guards/is-author.guard.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.3.1 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  7da1633efa4ce585f880a4d81d2ffe710972d4a2
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(auth): validate that the password must be different than username
  .pactum/snapshots/register-errors.json
  src/auth/dto/__snapshots__/register-user.dto.spec.ts.snap
  src/auth/dto/register-user.dto.ts
  src/auth/validators/is-not-the-same.spec.ts
  src/auth/validators/is-not-the-same.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

build(cspell): add more words to the dictionary
  .cspell.json
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.4.0 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  6fd59811f47ef922feae0811944f9f4f39c78758
Due: cspell lint --no-summary --no-progress --no-must-find-files

ci(mega-linter): upgrade MegaLinter v6
  .cspell.json
  .github/workflows/mega-linter.yml
  .gitignore
  .mega-linter.yml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

ci(mega-linter): disable proselint
  .mega-linter.yml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

build(gitleaks): ignore commits with false positive
  .cspell.json
  .gitleaks.toml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

build(prettier): format TOML files with prettier
  .lintstagedrc.json
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): fix flaky test
  src/auth/dto/register-user.dto.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

style: amend eslint errors
  src/blog/validators/article-exist.validator.spec.ts
  src/main.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

build(docker): wait for postgres to be healthy
  docker-compose.yml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.4.1 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

Notes added by 'git notes add'
  3a5e79c73fa286a7dd6a10c5cb46fb52205b4793
Due: cspell lint --no-summary --no-progress --no-must-find-files

build: install and setup ts-auto-mock with jest
  .cspell.json
  jest.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.test.json
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

test(blog): refactor mocks using ts-auto-mock
  src/blog/controllers/article.controller.spec.ts
  src/blog/controllers/comment.controller.spec.ts
  src/blog/dto/create-comment.spec.ts
  src/blog/guards/is-author.guard.spec.ts
  src/blog/pipes/article.pipe.spec.ts
  src/blog/services/article.service.spec.ts
  src/blog/services/comment.service.spec.ts
  src/blog/validators/article-exist.validator.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

test(auth): refactor mocks using ts-auto-mock
  src/auth/controllers/auth.controller.spec.ts
  src/auth/dto/login-user.dto.spec.ts
  src/auth/dto/register-user.dto.spec.ts
  src/auth/dto/update-user.dto.spec.ts
  src/auth/interceptors/token.interceptor.spec.ts
  src/auth/services/authentication.service.spec.ts
  src/auth/validators/is-already-register.validator.spec.ts
  src/auth/validators/validate-credential.validator.spec.ts
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

build(dev-deps): uninstall jest-mock-extended and jest-create-mock-instance
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

build: disable security/detect-possible-timing-attacks for test files
  .eslintrc.js
Due: prettier --write, eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

ci(mega-linter): disable proselint linter
  .mega-linter.yml
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files

feat: upgrade to Nest.js v9 & TypeORM v0.3.x
  fixtures/comment.yml
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/auth/auth.module.spec.ts
  src/auth/fixtures/user.fixture.ts
  src/auth/services/authentication.service.ts
  src/auth/strategies/jwt.strategy.ts
  src/auth/validators/is-already-register.validator.spec.ts
  src/auth/validators/is-already-register.validator.ts
  src/auth/validators/validate-credential.validator.spec.ts
  src/auth/validators/validate-credential.validator.ts
  src/blog/blog.module.spec.ts
  src/blog/guards/is-author.guard.spec.ts
  src/blog/pipes/article.pipe.spec.ts
  src/blog/services/article.service.ts
  src/blog/services/comment.service.ts
  src/common/fluse-plugin-typeorm.ts
  src/common/test-helpers.ts
  src/data-source.ts
  src/process-env.d.ts
  src/repl.ts
Due: prettier --write, eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): 1.5.0 [skip-ci]
  CHANGELOG.md
Due: prettier --write, cspell lint --no-summary --no-progress --no-must-find-files
